#main {
/* 	min-width: 300px; */
	width: 360px;
	--gsuiSlider-lineBgColor: #222;
}
#wrapper {
	display: flex;
	padding: 15px 20px 20px 20px;
	background-color: #222;
	pointer-events: none;
}

#knobContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#knobs {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#right {
	margin-left: 20px;
}

.audioSettingsLabels{
	color: #fff;
	font-size: 10px;
	font-family: Roboto Mono, monospace;
	margin: 0;
	padding-bottom: 5px;
	user-select: none;
	cursor: default;
}

.knobItem {
	text-align: center;
}

#knob0 .gsuiSlider { width:  60px; height:  60px; --gsuiSlider-lineColor: #00ffc3; }

#knob1 .gsuiSlider { width:  60px; height:  60px; --gsuiSlider-lineColor: #00bbff; }

#knob2 .gsuiSlider { width:  60px; height:  60px; --gsuiSlider-lineColor: #e3ecef; }

#knob3 .gsuiSlider { width:  60px; height:  60px; --gsuiSlider-lineColor: #00ffc3; }

#knob4 .gsuiSlider { width:  60px; height:  60px; --gsuiSlider-lineColor: #00bbff; }

#knob5 .gsuiSlider { width:  60px; height:  60px; --gsuiSlider-lineColor: #e3ecef; }