@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:300');

html, body {
	background-color: #000;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

label {
	font-family: Roboto Mono, monospace;
	color: #fff;
	padding-left: 15px;
	margin-top: 10px;
	font-size: 14px;
}

input {
	width: 100px;
	background-color: #666;
	border: none;
	outline: none;
	font-family: Roboto Mono, monospace;
	color: #fff;
	font-size: 14px;
}

input:focus {
	background-color: #999;
	color: #000;
}

/*disable number input "spinners" (increment/decrement arrows)*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.btn {
	background-color: #666;
	border: none;
	outline: none;
	color: #fff;
	font-size: 14px;
	font-family: Roboto Mono, monospace;
	margin: 5px;
	padding: 5px 10px 5px 10px;
}

.btn:hover {
	background-color: #555;
	cursor: pointer;
	color: #eee;
}

.btn:disabled {
	background-color: rgba(102, 102, 102, .5);
	color: #000;
	cursor: default;
}

.btn:active {
	background-color: #fff;
	color: #000;
}

.btnSmall {
	font-size: 10px;
	margin-bottom: 0px;
}

.active {
	background-color: #eee;
	color: #111;
}

.active:hover {
	background-color: #eee;
	color: #111;
}

.section {
	margin-top: 15px;
}

.textHeaders {
	font-family: Roboto, sans-serif;
	color: #eee;
	margin: 0px;
	padding-left: 15px;
}

.buttons {
	padding: 5px 10px 10px 10px;
}

.buttons .doneLoading {
	background-color: #009920;
	color: #000;
}

#availableAssets {
	font-family: Roboto Mono, monospace;
	font-size: 12px;
	color: #999;
	padding-left: 15px;
	margin: 0;
}
