@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:300,400');

body {
	background-color: #000;
	margin: 0;
}

button {
	background-color: #666;
	border: none;
	color: #fff;
	font-size: 18px;
	font-family: Roboto Mono, monospace;
	margin: 5px;
	padding: 5px 10px 5px 10px;
}

button:hover {
	background-color: #555;
	cursor: pointer;
	color: #eee;
}

.buttons {
	padding: 10px;
}

.textHeaders {
	font-family: Roboto, sans-serif;
	color: #999;
	margin: 0px;
	padding-left: 15px;
}

#modeSelectorDiv {
	margin-top: 15px;
}

#midiDeviceList {
	font-family: Roboto Mono, monospace;
	font-weight: normal;
	color: #666;
	margin: 10px 0px 10px 0px;
}