@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');

body {
	background-color: #000;
	margin: 0;
}

button {
	background-color: #666;
	border: none;
	color: #fff;
	font-size: 18px;
	font-family: Roboto Mono;
	margin: 5px;
	padding: 5px 10px 5px 10px;
}

button:hover {
	background-color: #555;
	cursor: pointer;
	color: #eee;
}

#buttons {
	padding: 10px;
}