#main {
/* 	min-width: 300px; */
	width: 360px;
	--gsuiSlider-lineBgColor: #222;
}

#wrapper {
	display: flex;
	padding: 15px 0px 20px 0px;
	margin-top: 5px;
	background-color: #2e3233;
	pointer-events: none;
}

#knobContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#knobs {
	display: flex;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
}

.audioSettingsLabels{
	color: #d4e1e6;
	font-size: 10px;
	font-family: Roboto-Mono, monospace;
	margin: 0;
	padding-bottom: 5px;
	user-select: none;
	cursor: default;
}

.knobItem {
	text-align: center;
}

#knob0 .gsuiSlider { width:  60px; height:  60px; --gsuiSlider-lineColor: #12e4a6; }

#knob1 .gsuiSlider { width:  60px; height:  60px; --gsuiSlider-lineColor: #00b4f6; }

#knob2 .gsuiSlider { width:  60px; height:  60px; --gsuiSlider-lineColor: #d4e1e6; }

#knob3 .gsuiSlider { width:  60px; height:  60px; --gsuiSlider-lineColor: #12e4a6; }

#knob4 .gsuiSlider { width:  60px; height:  60px; --gsuiSlider-lineColor: #00b4f6; }

#knob5 .gsuiSlider { width:  60px; height:  60px; --gsuiSlider-lineColor: #d4e1e6; }