@font-face {
  font-family: Roboto;
  src: url(../../assets/fonts/Roboto_Light.ttf);
}

@font-face {
  font-family: Roboto-Mono;
  src: url(../../assets/fonts/RobotoMono_Light.ttf);
}

:root {
  --aleph-green: #12e4a6;
  --aleph-blue: #00b4f6;
  --aleph-nearblack: #060b0d;
  --aleph-darkgrey: #2e3233;
  --aleph-lightgrey: #d4e1e6;
  --input-height: 20px;
  --border-radius: 2px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: var(--aleph-nearblack);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--aleph-darkgrey);
  outline: none;
}

html,
body {
  background-color: var(--aleph-nearblack);
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  user-select: none;
}

label {
  font-family: Roboto-Mono, monospace;
  color: var(--aleph-lightgrey);
  font-size: 12px;
}

input {
  width: 60px;
  height: var(--input-height);
  margin-right: 10px;
  background-color: var(--aleph-darkgrey);
  border: none;
  outline: none;
  font-family: Roboto-Mono, monospace;
  color: var(--aleph-lightgrey);
  font-size: 12px;
  border-radius: var(--border-radius);
  padding-left: 5px;
}

input:focus {
  background-color: #999;
  color: #000;
}

/*disable number input "spinners" (increment/decrement arrows)*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  border-radius: var(--border-radius);
}

select {
  font-family: "Roboto Mono", monospace;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--aleph-darkgrey);
  color: var(--aleph-lightgrey);
  padding: 2px;
  margin-top: 4px;
  width: 350px;
}

select:focus {
  outline: 1px solid var(--aleph-blue);
}

option {
  background-color: var(--aleph-nearblack);
}

.btn {
  background-color: var(--aleph-darkgrey);
  border: none;
  outline: none;
  color: var(--aleph-lightgrey);
  font-size: 12px;
  font-family: Roboto-Mono, monospace;
  margin: 4px;
  padding: 4px 8px 4px 8px;
}

.btn:hover {
  background-color: #505759;
  cursor: pointer;
  color: #eee;
}

.btn:disabled {
  background-color: #17191a;
  color: #000;
  cursor: default;
}

.btn:active {
  background-color: var(--aleph-lightgrey);
  color: #000;
}

.btn-light {
  background-color: var(--aleph-lightgrey);
  color: #17191a;
  font-size: 12px;
}

.btnSmall {
  font-size: 10px;
  margin-bottom: 0px;
}

.audioCtrlsMapBtn {
  background-color: #505759;
  margin-top: 12px;
  border: none;
  outline: none;
  font-family: Roboto-Mono, monospace;
  font-size: 10px;
}

.audioCtrlsMapBtn:hover {
  background-color: var(--aleph-lightgrey);
  cursor: pointer;
  color: #17191a;
}

.audioCtrlsMapBtn:active {
  background-color: var(--aleph-green);
  color: #000;
}

.section {
  margin: 15px;
}

.textHeaders {
  font-family: Roboto, sans-serif;
  color: var(--aleph-lightgrey);
  margin: 0px;
  font-weight: 100;
}

.buttons {
  padding: 5px 10px 10px 0px;
}

.buttons .doneLoading {
  background-color: var(--aleph-green);
  color: #000;
}

#availableAssets {
  font-family: Roboto-Mono, monospace;
  font-size: 12px;
  color: #757d80;
  margin: 0;
}

#displaySettingsDiv div {
  display: flex;
  align-items: center;
}

.checkbox {
  -webkit-appearance: none;
  width: var(--input-height);
  height: var(--input-height);
  background-color: var(--aleph-darkgrey);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  display: inline-block;
  position: relative;
}

.checkbox:active {
  background-color: var(--aleph-blue);
}

.checkbox:checked {
  background-color: var(--aleph-green);
}

.checkbox:checked:after {
  content: "\2714";
  font-size: 16px;
  position: absolute;
  top: -1px;
  left: 3px;
  color: var(--aleph-nearblack);
}

#sketchSelectorButtons {
  display: flex;
  flex-wrap: wrap;
}

.sketchSelectButton {
  display: flex;
  align-items: center;
  background-color: var(--aleph-lightgrey);
  color: var(--aleph-nearblack);
  min-width: 200px;
}

.sketchSelectButton:active {
  background-color: var(--aleph-green);
}

.sketchSelectButton:before {
  /* play button ► */
  content: "\25BA";
  background-color: var(--aleph-nearblack);
  color: var(--aleph-lightgrey);
  padding: 1px 5px 2px 5px;
  margin-right: 5px;
}

.sketchSelectButton:disabled:before {
  color: var(--aleph-lightgrey);
}

.deviceSelectionContainer {
  display: column;
  margin: 15px;
}

.deviceSelectionContainer div:not(:last-child) {
  margin-top: 8px;
  margin-bottom: 19px;
}

#midiMapDisplaySelect {
  margin-top: 7px;
}

.active {
  background-color: #757d80;
  color: var(--aleph-nearblack);
}

.sketchActive {
  background-color: var(--aleph-blue);
  color: white;
}

.sketchActive:before {
  content: "\25BA";
  background-color: var(--aleph-nearblack);
  color: var(--aleph-green);
  padding: 1px 5px 2px 5px;
  margin-right: 5px;
}

.active:hover {
  background-color: #656d80;
  color: var(--aleph-nearblack);
}
